#body

.bg{
  position: fixed;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
    filter: grayscale(100%);
}

#bg_overlay:hover{
  background-color: #000;
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
#bg_overlay{
  background-color: #000;
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.card{
    position: relative;
    top: 400px;
    width: 550px;
    margin: 10px;
    padding: 40px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;

}

.title{
  font: 40pt sans-serif;
  color: white;
}

.text0{
  line-height: 1;
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #ccc;
  border-left: 1px solid #ccc;
}

.text1{
  font: 14pt sans-serif;
  line-height: 140%;
  color: #ccc
}

.hr{
  margin-top: 200px;
}

.h2{
  font-size: 20pt;
  color: #E4B236;
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
}

.table01{
  border-collapse: collapse;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-radius: 4px;
  border-color: #b0b7c6;
  color: white;
  font: 12pt sans-serif;
  margin-bottom: 40px;
}

.table01 tr, .table01 th{
    border: 1px solid #b0b7c6;
    padding: 20px;
}

.table01 tr:hover{
  background-color: #ea0b0b;
  cursor: default;
}

.table01 tr td{
  padding: 10px 20px;
}

.social{
  font: 10pt sans-serif;
  position: fixed;
  right: 20px;
  bottom: 10px;
  text-align: right;
}

.social a{
  color: white;
}

.social a:hover{
  text-decoration: none;
}
